<!doctype html>
<html lang="en">
<head>
      <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <title>{{ session['username'] }}'s Wall</title>

</head>
<body>
    {% include 'logged-menu.html' %}
        {% set prof = avatar[0][0] %}
    <div class="container text-center">
      <div class="row">
          <div class="post-box">
              <div class="col-lg-3 well">
                  <div class="well">
                      <h4>{{ session['username'] }}</h4>
                      <img src="static/imgs/{{ prof }}" alt="profile picture" id="big-prof" class="img-rounded">
                      <!-- If there is no name or bio display links to the profile editing page -->
                      <h5 ><strong>Name</strong>:
                          {% if own_details[0][3]!=None and own_details[0][4]!=None %}
                                {{ own_details[0][3] }} {{ own_details[0][4] }}</h5>
                          {% else %}
                              <a id="profile-name" href="/profile">Update your info!</a>
                          {% endif %}
                      <p><strong>About:</strong>
                          {% if own_details[0][5]!=None %}
                              {{ own_details[0][5] }}</p>
                          {% else %}
                              <a href="/profile">Tell us a little about yourself!</a>
                          {% endif %}
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="col-lg-12 well">
                      <div class="col-lg-3">
                          <h3>{{ session['username'] }}</h3>
                          <img src="static/imgs/{{ prof }}" alt="" id="prof" class="img-circle">
                      </div>
                        <div class="col-lg-9" >
                            <form action="/" method="POST">
                                <div class="col-lg-10">
                                <textarea class="form-control" id="user-post" rows="3" name="comment" placeholder="Say something.."></textarea>
                                </div>
                                <div class="col-lg-2">
                                <button class="btn btn-default pull-right" name="submit" id="post-button" value="make-comment">Post</button>
                                </div>
                            </form>
                        </div>
                  </div>
                <!-- Display each comment in reverse  -->
                   {% if follower_comments %}
                      {% for row in follower_comments | reverse %}
                              <div class="col-lg-12 well cn">
                                  <div class="col-lg-3" id="post-user-info">
                                      <a href="/">
                                      <h6>{{ row[1] }}</h6>
                                      <img src="static/imgs/{{ row[3] }}" alt="" id="prof" class="img-thumbnail">
                                      </a>
                                  </div>
                                  <div class="col-lg-9 text-left">
                                      {{ '"'+row[9]+'"' }}
                                  </div>
                              </div>
                      {% endfor %}
                  {% endif %}
              </div>
          </div>
          <div class="col-lg-3 panel panel-heading" id="panel-heading">
              <div class="col-lg-12">
                  <h5>People you may know</h5>
              </div>
              <div class="col-lg-12 panel ">

                     {% for people in users %}
                         {% if followers %}
                         <!-- If user id is not in followers list, display them -->
                             {% if people[2] not in followers %}
                                 <form action="/" method="POST">
                                    <div class="well col-lg-12">
                                        <div class="col-lg-12 text-center" >
                                          <p>{{ people[0] }}</p>
                                        </div>
                                        <div class="col-lg-12">
                                            <img src="static/imgs/{{ people[1] }}" alt="" id="prof" class="img-circle">
                                        </div>
                                        <div class="col-lg-12" id="follow-button">
                                        <button class="btn btn-default" name="submit" value="{{ people[0] }}" >Follow</button>
                                     </div>
                                </div>
                             </form>
                             {% endif %}
                         <!-- If no followers list display all users. -->
                         {% else %}
                            <form action="/" method="POST">
                                <div class="well col-lg-12">
                                    <div class="col-lg-12 text-center" >
                                      <p><strong>{{ people[0] }}</strong></p>
                                    </div>
                                    <div class="col-lg-12">
                                        <img src="static/imgs/{{ people[1] }}" alt="" id="prof" class="img-circle">
                                    </div>
                                    <div class="col-lg-12" id="follow-button">
                                        <button class="btn btn-default" name="submit" value="{{ people[0] }}" >Follow</button>
                                     </div>
                                </div>
                             </form>
                         {% endif %}
                  {% endfor %}
              </div>
          </div>
      </div>

    </div>

</body>
</html>