#login-panel{
    width:30%;
    margin:0 auto;
}
#input-form{
    margin: 0 auto;
    padding-bottom:10px;
}

.panel > .panel-heading{
    background-image:none;
    background-color: #333333;
    color: white;
}

.post-box{
    background-color: #337ab7 !important; ;
}

body{
    background-color: #333333 !important;
}
#login-button{
    text-align: center;
    padding-top:10px;
}

#prof{
    max-width: 50px;
    max-height: 50px;
}

#big-prof{
    max-width: 150px;
    max-height: 150px;
}

#user-post{
    padding-top:10px;
}

.comments{
    height: 50px;
    line-height: 50px;
}

#post-user-info{
    border-right:solid thin gray;
}

#post-user-info{
    font-size:8px;
}